@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(20, 20, 20);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

nav ul li a {
  text-transform: uppercase;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-inner {
  max-width: 1340px;
  width: 100%;
  margin-inline: auto;
}

nav ul li a {
  text-transform: uppercase;
}

/* ul li {
  text-decoration: none;
  list-style: none;
} */

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #555555;
  }
}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.header-inner {
  max-width: 1340px;
  width: 100%;
  margin-inline: auto;
}

.global-nav {
  display: flex;
  list-style: none;
  font-size: 1.15rem;
  font-weight: 300;
  gap: 2.5rem;
  a {
    position: relative;
    display: block;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ccc;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.hero-content {
  height: 70vh;
  /* calc()100vh - [header px] */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}

.hero-title {
  font-size: 2.5rem;
  span {
    font-size: 1.5rem;
    display: block;
  }
}

.hero-text {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.content {
  padding: 10rem 0;
  &:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
}

.content-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  &::after {
    content: "";
  }
}

.works-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.works-item {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  img {
    width: 100%;
    /* padding-bottom: 10px; */
    height: auto;
    transition: opacity 0.3s ease;
    border-radius: 1rem;
  }
  &:hover img {
    opacity: 0.9;
    transition: all 0.3s ease;
  }
}

.skill-list {
  /* list-style: none; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 175px;
    min-height: 150px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px #333;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
  }
}

.about-wrapper {
  display: flex;
  max-width: 50rem;
  margin-inline: auto;
  gap: 2rem;
  align-items: center;
  img {
    border-radius: 1rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 300;
  }
  p:nth-of-type(1) {
    margin-bottom: 1.5rem;
  }
}

/* お問い合わせ */

.contact-wrapper {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.contact-info,
.contact-social {
  padding: 3.5rem;
}

.contact-info {
  width: 50%;
  border-radius: 1rem 0 0 1rem;
  background-color: #f2f2f2;
}

.contact-social {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-social p {
  text-align: left;
  width: 100%;
  color: #575757;
}

.contact-social p:nth-of-type(2) {
  font-size: 0.9rem;
  color: #9b9b9b;
}

.contact-text h3 {
  font-size: 3.5rem;
  font-weight: bold;
}

.contact-text p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #575757;
}

.contact-text p:nth-of-type(1) {
  margin: 1rem 0 2.5rem 0;
}

.contact-text p:nth-of-type(2) {
  line-height: 2;
}

.contact-email {
  margin: 2.5rem 0 3.5rem 0;
}

.contact-email > p {
  margin-bottom: 1rem;
  color: #575757;
}

.email-address {
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  outline: solid 2px transparent;
  transition: outline-color 0.5s ease,
    transform 0.3s cubic-bezier(0.4, 2, 0.6, 1);
}

.email-address:hover {
  cursor: pointer;
  outline: solid 2px #333;
  transform: translateY(-6px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}

.contact-response {
  font-size: 0.9rem;
  color: #9b9b9b;
}

/* --- */

.social-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3.5rem 0;
}

.social-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.social-item {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  min-width: 0;
  padding: 1.5rem;
  border-radius: 1rem;
  border: solid 2px rgba(51, 51, 51, 0.25);
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); */
  transition: border-color 0.5s ease,
    transform 0.3s cubic-bezier(0.4, 2, 0.6, 1),
    box-shadow 0.3s cubic-bezier(0.4, 2, 0.6, 1);
}

.social-item:hover {
  cursor: pointer;
  border-color: rgba(51, 51, 51, 1);
  transform: translateY(-6px);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.social-item img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.social-item p {
  color: #9b9b9b;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
