@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(20, 20, 20);
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

nav ul li a {
  text-transform: uppercase;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-inner {
  max-width: 1340px;
  width: 100%;
  margin-inline: auto;
}

nav ul li a {
  text-transform: uppercase;
}

/* ul li {
  text-decoration: none;
  list-style: none;
} */

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #555555;
  }
}

.header {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.header-inner {
  max-width: 1340px;
  width: 100%;
  margin-inline: auto;
}

.global-nav {
  display: flex;
  list-style: none;
  font-size: 1.15rem;
  font-weight: 300;
  gap: 2.5rem;
  a {
    display: block;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
  }
}

.hero-content {
  height: 70vh;
  /* calc()100vh - [header px] */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
